* {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    min-height: 100vh;
    padding: 20px;
}

.container {
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

/* HEADER SUMMARY SECTION */

.header-section {
    background-color: #8599B6;
    border-radius: 20px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    overflow: hidden;

}

    .header-section h2 {
        background-color: rgba(0,0,0,0.15);
        color: white;
        text-align: center;
        padding: 18px;
        font-size: 26px;
        letter-spacing: 2px;
    }

.back_btn {
    padding: 20px 20px;
    background: white;
    border: thin;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    color: #5b6f93;
    cursor: pointer;
}
.info-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 200px;
}

.info-grid {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.info-row label {
    color: #ffffff;
    font-weight: 600;
    font-size: 17px;
}

.info-row input {
    padding: 5px 15px;
    border: none;
    gap: 30px;
    font-size: 15px;
    border-bottom: 2px solid white;
    background: transparent;
    width: 300px;

}


/* PAYMENT SECTION */


.payment-section {
    background-color: #8599B6;
    border-radius: 20px;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

    .payment-section h2 {
        background-color: rgba(0,0,0,0.15);
        color: white;
        text-align: center;
        padding: 18px;
        font-size: 26px;
        letter-spacing: 2px;
    }

.payment-form {
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.form-group label {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-left: 160px;
}



    .form-group input,
    .payment-method-select {
        margin-left: 20px;
        padding: 10px;
        border: none;
        border-radius: 50px;
        background: #ffffff;
        font-size: 16px;
    }

.submit-btn {
    display: block;
    margin: 15px auto 35px auto;
    padding: 15px 40px;
    background: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #5b6f93;
    cursor: pointer;
    transition: 0.2s;
}

    .submit-btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }


/* PAYMENT HISTORY TABLE */


.history-section {
    background-color: #64748B;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

    .history-section h2 {
        background-color: rgba(0,0,0,0.15);
        color: white;
        text-align: center;
        padding: 18px 0;
        font-size: 26px;
        letter-spacing: 2px;
    }

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.05);
    overflow-y: auto;
    table-layout: fixed;
}

thead {
    background: white;
}

th {
    padding: 16px;
    color: black;
    font-weight: 600;
    text-align: center;
    border: 1px solid white;
}

td {
    padding: 16px;
    color: white;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.12);
    border: 1px solid white;
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.1);
   
}

/* Status pill */
.status-badge {
    background: green;
    color: white;;
    padding: 7px 22px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
}
