@page "/TransacHis"
@inject NavigationManager Navigation
@rendermode InteractiveServer
<link href="css/LandlordDashBoard.css" rel="stylesheet" />
<div class="dashboard-layout">
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="logo">
            <img src="images/Default_Landlord.png" alt="Logo">
            <h2>DASHBOARD</h2>
        </div>

        <nav>
            <button class="nav-btn manage-unit" @onclick="ManageUnit">Manage Unit</button>
            <button class="nav-btn list-tenants" @onclick="ListofTenants">List of Tenants</button>
            <button class="nav-btn transaction-history" @onclick="TransacHistory">Transaction History</button>
            <button class="nav-btn manage-apartment" @onclick="ManageApartment">Manage Apartment</button>
        </nav>


        <div class="bottom-section">
            <button class="account-btn">
                <span class="icon">👤</span>
                Account
            </button>
            <button class="logout-btn" @onclick="Logout">
                <span class="icon">↩</span>
                Log out
            </button>
        </div>
    </aside>
</div>
@code {
    private void Logout()
    {
        Navigation.NavigateTo("/Landlord", true);
    }
    private void ManageUnit()
    {
        Navigation.NavigateTo("/land_dashboard", true);
    }
    private void ManageApartment()
    {
        Navigation.NavigateTo("/ManageApt", true);
    }
    private void ListofTenants()
    {
        Navigation.NavigateTo("/ListTenants", true);
    }
    private void TransacHistory()
    {
        Navigation.NavigateTo("/TransacHis", true);
    }
}