.edit-container {
    font-family: 'Segoe UI';
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #64748B;
    padding: 15px;
    color: white;
}

.back-btn {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: #f0f0f0;
    padding: 20px;
}

.text-input {
    width: 95%;
    padding: 8px;
}

.image-upload {
    text-align: center;
    padding: 20px;
}

.units-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #64748B;
    padding: 15px;
    color: white;
    margin-top: 10px;
    border-radius: 15px;
}

.add-unit-btn {
    background: white;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.unit-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.unit-card {
    text-align: center;
}

.unit-img {
    width: 250px;
    height: 150px;
    background: #ccc;
    border: 1px solid #999;
}

.edit-unit-btn {
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    background: #e5e5e5;
    cursor: pointer;
}

.footer-actions {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.save-btn {
    background: #1e40af;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

