.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

    .modal-overlay.visible {
        visibility: visible;
    }

.modal-content.account-modal {
    background: white;
    width: 70%;
    max-width: 900px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.modal-header {
    background: #5f6f86;
    padding: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .modal-header .back-btn {
        position: absolute;
        left: 20px;
        top: 18px;
        font-size: 22px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }

.profile-section {
    text-align: center;
    margin-top: 20px;
}

.profile-photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #e6e6e6;
    object-fit: cover;
}

.profile-label {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}

.form-section {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px 40px;
}

.form-row {
    display: flex;
    flex-direction: column;
}

    .form-row label {
        font-size: 14px;
        margin-bottom: 5px;
        color: #444;
    }

.info-input {
    padding: 10px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    font-size: 14px;
}

.button-row {
    text-align: center;
    padding: 25px;
}

.logout-btn {
    padding: 8px 35px;
    border-radius: 10px;
    background: red;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow:grey;
}

    .logout-btn:hover {
        color: 
    }
